/*
$primary-button-color: #2196F3;
$secondary-button-color: white;

.tagDetailViewContainer {
  height: calc(100% - 30px);
  overflow: auto;
  background-image: linear-gradient(#f1f1f1, #f6f6f6);
}*/
