@import "../../../../styleguide/mixin";
@import "../../../../styleguide/style-guide";

$bottom-section-height : 58px;

$basic-z1-height : 118px;
$basic-z2-height : 265px;
$basic-z3-height : 325px;
$basic-z4-height : 485px;
$basic-image-section-height : $basic-z2-height;

@mixin on-hover-section-pim() {
  .onHoverSection {
    //display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    //display: none;
    transition: all .2s;
    z-index: 5;
    overflow: hidden;

    .entityName {
      color: #fff;
      width: calc(100% - 100px);
      float: left;
      text-shadow: 0 1px 0 #111;
      padding: 10px 10px 5px 10px;
      //max-height: 55px;
      max-height: 54px; //temporary for firefox, should be 55 ideally.
      overflow: hidden;
      line-height: 20px;
      font-size: 14px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
    }

    .entityClassName {
      color: #aaa;
      width: calc(100% - 100px);
      padding: 0 10px 5px 10px;
      font-size: 10px;
      line-height: 14px;
      font-style: italic;
      text-transform: uppercase;
      word-break: break-all;
      float: left;
    }

    .additionalInformationOnHover {
      padding: 10px 30px 5px 10px;
      max-height: calc(100% - 95px);
      width: calc(100% + 20px);
      overflow-y: auto;
      font-size: 12px;

      .additionalInformation {

        .additionalInformationHeader {
          font-size: 11px;
          line-height: 11px;
          border-bottom: 1px solid #777;
          color: #aaa;
          padding: 0 0 5px 0;
          max-width: 100%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .tagGroupHeader {
          font-size: 11px;
          line-height: 14px;
          border-bottom: 1px solid #777;
          color: #aaa;
          padding: 0 0 6px 0;
        }

        .additionalInformationContainer {
          color: #fff;
          padding: 5px 0 10px 0;
          font-size: 12px;

          .tagContainer {
            display: inline-block;
            vertical-align: top;
            padding: 0 5px 0 0;
            position: relative;

            .tagIcon {
              height: 25px;
              width: 25px;
              display: inline-block;
              padding: 0;
              border-radius: 50%;
              box-shadow: 0 0 0 1px #eee inset;
              background-color: #FFF;
              .imageFitToContainer {
                position: relative;
                overflow: hidden;
                border-radius: 50%;
                z-index: 2;
                .imageFitToContainerImage {
                  z-index: 1;
                  height: initial;
                  max-width: 13px;
                }
              }

              &:hover{
                cursor: context-menu;
              }

              &.greenBorder {
                border: 1px solid #25af2a;
              }

              &.redBorder {
                border: 1px solid #ff5d54
              }
            }
            .tagColor {
              width: 25px;
              height: 25px;
              margin-bottom: 5px;
              border-radius: 50%;
              &:hover{
                cursor: context-menu;
              }

              &.greenBorder {
                border: 1px solid #25af2a;
              }

              &.redBorder {
                border: 1px solid #ff5d54
              }
            }
            .tagValue {
              margin-bottom: 5px;
              font-size: 12px;
              padding: 1px 5px;
              border-radius: 2px;
              max-width: 150px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              height: 25px;
              line-height: 20px;

              &:hover{
                cursor: context-menu;
              }

              &.greenBorder {
                border: 1px solid #25af2a;
              }

              &.redBorder {
                border: 1px solid #ff5d54
              }
            }
          }
        }
      }
    }

    .thumbnailButtonContainer{
      width: 100%;
      position: absolute;
      bottom: 0;
      text-align: center;
      padding: 6px 6px;

      .thumbnailButton{
        background-color: rgba(255,255,255,.8);
        height: 35px;
        width: 35px;
        border-radius: 50%;
        margin: 4px;
        display: inline-block;
        background-position: center;
        background-size: 18px;
        filter: invert(100%);
        background-repeat: no-repeat;
        cursor: pointer;

        &.checkButton{
          background-image: url($image-CS-CheckMark-black);
        }

        &.viewButton{
          background-image: url($image-CS-eye-black);
        }

        &.deleteButton{
         @include background-properties($image-CS-delete-bin-black,18px);
        }

        &:hover{
          filter: invert(0%);
        }
      }
    }
  }
}

@mixin relevance-color($color) {
  content: '';
  height: 0;
  width: 0;
  border: 10px solid $color;
  position: absolute;
  transform: rotate(45deg);
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  top: -10px;
  right: -10px;
}


.thumbnailViewContainer {
  position: relative;
  clear: none;
  display: inline-block;
  height: 322px; //every template use inside will have its own height
  width: 250px;
  //border-radius: 2px;
  //box-shadow: 1px 1px 6px -2px rgba(0,0,0,.6);
  //background: #fff;
  margin: 4px 7px;
  overflow: hidden;
  @include no_select();

  &.zoom_1 {
    height: $basic-z1-height;
    width: 363px;
  }
 /* &.zoom_2 {
    height: $basic-z2-height;
  }
  &.zoom_3 {
    height: $basic-z3-height;
  }
  &.zoom_4 {
    height: $basic-z4-height;
  }*/
  &.thumbnailRelevanceRed {
    &:after {
      @include relevance-color($color-relevance-red);
    }
    .foregroundContent {
      .thumbnailHeaderContainer {
        .entityClassName {
            background-color: $color-relevance-red;
        }

        .thumbnailCheckButton {
          background-color: $color-relevance-red;
          .thumbnailCheckButtonIcon {
            @include background-properties-with-theme-white-color($image-CS-Unchecked-Checkbox-48-Material);
          }
        }
      }
    }
    .basicTemplateContainerZoom1 {
      .thumbnailCheckButton {
        background-color: $color-relevance-red;
        .thumbnailCheckButtonIcon {
          @include background-properties-with-theme-white-color($image-CS-Unchecked-Checkbox-48-Material);
        }
      }
    }
  }

  &.thumbnailRelevanceOrange {
    &:after {
      @include relevance-color($color-relevance-orange);
    }
    .foregroundContent {
      .thumbnailHeaderContainer {
        .entityClassName {
          background-color: $color-relevance-orange;
        }

        .thumbnailCheckButton {
          background-color: $color-relevance-orange;
          .thumbnailCheckButtonIcon {
            @include background-properties-with-theme-white-color($image-CS-Unchecked-Checkbox-48-Material);
          }
        }
      }
    }
    .basicTemplateContainerZoom1 {
      .thumbnailCheckButton {
        background-color: $color-relevance-orange;
        .thumbnailCheckButtonIcon {
          @include background-properties-with-theme-white-color($image-CS-Unchecked-Checkbox-48-Material);
        }
      }
    }
  }

  &.thumbnailRelevanceYellow {
    &:after {
      @include relevance-color($color-relevance-yellow);
    }
    .foregroundContent {
      .thumbnailHeaderContainer {
        .entityClassName {
          background-color: $color-relevance-yellow;
          font-weight: 500;
          color: #000 !important;
        }

        .thumbnailCheckButton {
          background-color: $color-relevance-yellow;
          .thumbnailCheckButtonIcon {
            background-image: url($image-CS-Unchecked-Checkbox-48-Material);
            opacity: 0.7;
          }
        }
      }
    }
    .basicTemplateContainerZoom1 {
      .thumbnailCheckButton {
        background-color: $color-relevance-yellow;

        .thumbnailCheckButtonIcon {
          background-image: url($image-CS-Unchecked-Checkbox-48-Material) !important;
          opacity: 0.7;
        }
      }
    }
  }

  &.thumbnailRelevanceGray {
    &:after {
      @include relevance-color($color-relevance-gray);
    }
    .foregroundContent {
      .thumbnailHeaderContainer {
        .entityClassName {
          background-color: $color-relevance-gray;
        }

        .thumbnailCheckButton {
          background-color: $color-relevance-gray;

          .thumbnailCheckButtonIcon {
            @include background-properties-with-theme-white-color($image-CS-Unchecked-Checkbox-48-Material);
          }
        }
      }
    }
    .basicTemplateContainerZoom1 {
      .thumbnailCheckButton {
        background-color: $color-relevance-gray;

        .thumbnailCheckButtonIcon {
          @include background-properties-with-theme-white-color($image-CS-Unchecked-Checkbox-48-Material);
        }
      }
    }
  }

  &.thumbnailRelevanceGreen {
    &:after {
      @include relevance-color($color-relevance-green);
    }
    .foregroundContent {
      .thumbnailHeaderContainer {
        .entityClassName {
          background-color: $color-relevance-green;
        }

        .thumbnailCheckButton {
          background-color: $color-relevance-green;

          .thumbnailCheckButtonIcon {
            @include background-properties-with-theme-white-color($image-CS-Unchecked-Checkbox-48-Material);
          }
        }
      }
    }
    .basicTemplateContainerZoom1 {
      .thumbnailCheckButton {
        background-color: $color-relevance-green;

        .thumbnailCheckButtonIcon {
          @include background-properties-with-theme-white-color($image-CS-Unchecked-Checkbox-48-Material);
        }
      }
    }
  }

  &.thumbnailRelevanceDarkGray {
    border-radius: 3px;

    .foregroundContent {
      .thumbnailHeaderContainer {
        .entityClassName {
          background-color: $color-relevance-dark-gray;
        }

        .thumbnailCheckButton {
          background-color: $color-relevance-dark-gray;

          .thumbnailCheckButtonIcon {
            @include background-properties-with-theme-white-color($image-CS-Unchecked-Checkbox-48-Material);
          }
        }
      }
    }

    .basicTemplateContainerZoom1 {
      .thumbnailCheckButton {
        background-color: $color-relevance-dark-gray;

        .thumbnailCheckButtonIcon {
          @include background-properties-with-theme-white-color($image-CS-Unchecked-Checkbox-48-Material);
        }
      }
    }
  }

  .thumbSelectOnHover{
    background-color: rgb(51, 139, 217);
    @include background-properties-with-theme-white-color($image-CS-CheckMark-black);
    transition: all .2s;
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 50%;
    position: absolute;
    top: 0;
    right: 0;
  }

  .summaryTemplateContainer {
    height: 100%;
    width: 100%;
    background: $color-dark-2;


      .thumbnailHeaderContainer {
        padding: 10px;
        overflow: hidden;

        .thumbnailCheckButton {
          width: 20px;
          height: 20px;
          cursor: pointer;
          transition: all .2s;
          vertical-align: top;
          border-top-left-radius: 2px;
          -webkit-backface-visibility: hidden;
          float: left;

          .thumbnailCheckButtonIcon {
            height: 100%;
            width: 100%;
            @include background-properties-with-gray-color($image-CS-Unchecked-Checkbox-48-Material, 20px, 50%);

            &.isSelected {
              @include background-properties-with-theme-white-color($image-CS-Checked-48Black, 20px, 50%);
            }
          }
        }

        .entityInformationContainer {
          height: 35px;
          width: calc(100% - 60px);
          vertical-align: top;
          padding: 0 0 0 10px;
          overflow: hidden;
          float: left;

          .entityName {
            height: 100%;
            width: 100%;
            font-size: 13px;
            color: $color-light-1;
            overflow: hidden;
            font-weight: 500;
            display: -webkit-box;
            font-weight: 500;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            word-break: break-all;
            text-align: left;
            line-height: 20px;
          }
        }

        &.isSelected {

          .entityClassName {
            background-color: rgb(51, 139, 217);
            opacity: 1;
          }
        }

        &:hover {

          .thumbnailCheckButton {

            /*.thumbnailCheckButtonIcon {
              opacity: .8;
            }*/
          }
        }
      }

      .summarySectionContainer {
        color: #eee;
        height: calc(100% - 100px);
        width: 100%;
        overflow-y: auto;
        text-align: left;
        padding: 10px;
        scrollbar-width: thin;

        .tagSummarySection {
          width: 100%;

          .tagGroupContainer {
            height: auto;
            width: 100%;
            padding: 0 0 8px 0;

            .tagGroupHeader {
              font-size: 11px;
              line-height: 14px;
              border-bottom: 1px solid #777;
              color: #aaa;
              padding: 0 0 6px 0;
            }

            .tagContainer {
              display: inline-block;
              vertical-align: top;
              padding: 0 5px 0 0;
              position: relative;

              .tagIconLabelWrapper {
                width: 100%;
                float: left;
                display: flex;
                align-items: center;
                .tagIcon {
                  height: 25px;
                  width: 25px;
                  display: inline-block;
                  padding: 0;
                  border-radius: 50%;
                  background-color: #FFF;
                  box-shadow: 0 0 0 1px #eee inset;
                  margin-top: 5px;
                  margin-right: 5px;

                  .imageFitToContainer {
                    position: relative;
                    overflow: hidden;
                    border-radius: 50%;
                    z-index: 2;
                    .imageFitToContainerImage {
                      z-index: 1;
                      height: initial;
                      max-width: 13px;
                    }
                  }

                  &:hover {
                    cursor: context-menu;
                  }

                  &.greenBorder {
                    border: 1px solid #25af2a;
                  }

                  &.redBorder {
                    border: 1px solid #ff5d54
                  }
                }
                .tagColor {
                  width: 25px;
                  height: 25px;
                  border-radius: 50%;
                  margin-top: 5px;
                  margin-right: 5px;
                  &:hover {
                    cursor: context-menu;
                  }

                  &.greenBorder {
                    border: 1px solid #25af2a;
                  }

                  &.redBorder {
                    border: 1px solid #ff5d54
                  }
                }
              }
              .tagValue {
                margin-top: 5px;
                font-size: 12px;
                padding: 1px 5px;
                border-radius: 2px;
                max-width: 150px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                height: 25px;
                line-height: 20px;

                &:hover {
                  cursor: context-menu;
                }

                &.greenBorder {
                  border: 1px solid #25af2a;
                }

                &.redBorder {
                  border: 1px solid #ff5d54
                }
              }
            }

            .customIcon {
              position: relative;
              width: 15px;
              float: left;
              height: 15px;
              margin-right: 5px;
              .imageSimpleViewNoImage {
                filter: invert(1);
                opacity: 1;
                background-size: 13px;
              }
            }
          }
        }

        .attributeSummarySection {
          width: 100%;

          .attributeContainer {
            height: auto;
            width: 100%;
            padding: 0 0 8px 0;

            .attributeLabel {
              font-size: 11px;
              line-height: 14px;
              border-bottom: 1px solid #777;
              color: #aaa;
              padding: 0 0 6px 0;
            }

            .attributeValue {
              font-size: 11px;
              line-height: 14px;
              padding: 5px 0 5px 0;
              display: flex;

              .concatenated {
                flex-direction: column;
              }
            }
          }
        }

        .typesSummarySection {
          width: 100%;

          .typesContainer {
            height: auto;
            width: 100%;
            padding: 0 0 8px 0;

            .typesLabel {
              font-size: 11px;
              line-height: 11px;
              border-bottom: 1px solid #777;
              color: #aaa;
              padding: 0 0 5px 0;
            }

            .typesValue {
              font-size: 11px;
              line-height: 14px;
              padding: 5px 0 5px 0;

            }
          }
        }

        .summarySection {
          height: auto;
          width: 100%;
          padding: 0 0 8px 0;

          .summarySectionHeader {
            font-size: 10px;
            line-height: 10px;
            border-bottom: 1px solid #777;
            font-weight: 500;
            color: #aaa;
            padding: 0 0 2px 0;
            text-transform: uppercase;
          }

          .summarySectionContent {
            height: auto;
            width: 100%;

            .attributeHitContainer {
              height: auto;
              width: 100%;
              padding: 5px 0 5px 0;

              .attributeHitLabel {
                display: inline-block;
                vertical-align: top;
                color: #aaa;
                padding-right: 3px;
                font-size: 12px;
              }

              .attributeHitOccurrence {
                display: inline-block;
                vertical-align: top;
                padding-right: 3px;
                font-size: 12px;
                word-break: break-word;
              }

              .belongsToVariantSticker{
                display: inline-block;
                padding: 2px 5px;
                //background: #464646;
                background: #555;
                color: #b5b5b5;
                border-radius: 2px;
                font-size: 11px;
                margin-left: 10px;
                line-height: 14px;
              }
            }

            .tagHitContainer {
              height: auto;
              width: 100%;
              padding: 5px 0 5px 0;

              .tagHitLabel {
                display: inline-block;
                vertical-align: top;
                color: #aaa;
                line-height: 20px;
                padding-right: 3px;
                font-size: 12px;
              }

              .tagHitValue {
                display: inline-block;
                vertical-align: top;
                border: 1px solid green;
                border-radius: 3px;
                font-size: 11px;
                padding: 0px 3px;
                line-height: 20px;
              }

            }
          }
        }

        .searchSummary {
          padding: 10px;
          border-radius: 5px;
          background-color: rgba(255,255,255,.08);
        }

        .searchSummary, .xRaySummary{
          margin-bottom: 10px;

          .summaryHeader{
            font-weight: 500;
            margin-bottom: 10px;
            text-transform: uppercase;
            color: #ececff;
            font-size: 12px;
          }
        }

        .xRaySummary{
          .attributeSummarySection{
            .attributeContainer{
              .customIcon {
                position: relative;
                width: 13px;
                float: left;
                height: 13px;
                margin-right: 5px;

                .imageSimpleViewNoImage {
                  filter: invert(1);
                  opacity: 1;
                  background-size: 13px;
                }
              }
              .contentConcatenatedAttributeContainer{
                .disconnectedHTMLViewContainer{
                  overflow-wrap: break-word;
                  text-align: left;
                }
              }
            }
          }
        }
      }

      /*
      .entityDetailsSection {
        background-color: rgba(0,0,0,.2);
        height: 58px;
        width: 100%;
        text-align: left;
        transition: all .2s;

        .entityImageContainer {
          height: $bottom-section-height;
          width: $bottom-section-height;
          display: inline-block;
          vertical-align: top;
          padding: 10px;

          .imageWrapper {
            height: 100%;
            width: 100%;
            position: relative;
            //border-radius: 50%;
            overflow: hidden;

            .thumbnailImagePreview {
              max-width: 100%;
              max-height: 100%;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              display: inline-block;
            }
          }
        }
      }
      */

      .thumbnailDeleteButton {
        height: 25px;
        width: 25px;
        background-size: 14px;
        background-position: 4px 3px;
        background-repeat: no-repeat;
        @include background-properties-with-theme-white-color($image-CS-Cross);
        cursor: pointer;
        transition: all .2s;
        opacity: 0.7;

        &:hover {
          opacity: 1;
        }
      }

      .thumbnailPreviewButton {
        float: right;
        height: 25px;
        width: 25px;
        background-size: 14px;
        background-position: center;
        background-repeat: no-repeat;
        @include background-properties-with-theme-white-color($image-CS-eye-black);
        cursor: pointer;
        transition: all .2s;
        opacity: 0.7;

        &:hover {
          opacity: 1;
        }
      }

      .thumbnailDownloadButton {
        float: right;
        height: 25px;
        width: 25px;
        @include background-properties-with-theme-white-color($image-CS-download-black,14px);
        cursor: pointer;
        transition: all .2s;
        opacity: 0.7;

        &:hover {
          opacity: 1;
        }
      }

      .thumbnailAddToCollectionContainer {

        .staticCollectionListContainer{
          width: 25px;
          height: 25px;
          cursor: pointer;
          @include background-properties-with-theme-white-color($image-CS-collection-static-collection-new, 18px, 5px 1px);
          transition: all .2s;
          opacity: 0.7;

          &:hover {
            opacity: 1;
          }
        }
      }

      .thumbnailInformationContainer {
        margin: 2px 2px 0 0;
      }

      &.fixedBundle {
        .entityClassName {
          @include background-properties-with-theme-white-color($image-CS-Cardboard-Box-Filled-50-Black);
          padding-left: 30px !important;
        }
      }

      &.singleArticle {
        .entityClassName {
          @include background-properties-with-theme-white-color($image-CS-Google-News);
          padding-left: 30px !important;
        }
      }

      &.setOfProducts {
        .entityClassName {
          @include background-properties-with-theme-white-color($image-shapes-Black);
          padding-left: 30px !important;
        }
      }

      &.pidSku {
        .entityClassName {
          @include background-properties-with-theme-white-color($image-cs-dyn-coupled);
          padding-left: 30px !important;
        }
      }

      &:hover {

        .onHoverSection {
          opacity: 1;
        }
      }

      .thumbSelectOverlay{
        background-color: rgb(51, 139, 217);
        @include background-properties-with-theme-white-color($image-CS-CheckMark-black);
        transition: all .2s;
        height: 30px;
        width: 30px;
        background-repeat: no-repeat;
        background-size: 18px;
        background-position: 50%;
        position: absolute;
        top: 0;
        /* right: 0; */
      }

    .thumbnailXRayTemplateFooterView {
      height: 45px;
      overflow: hidden;
      padding: 10px;

      .thumbnailXRayTemplateButtons {

        float: left;
      }

      .thumbnailActionItemAndInformationView {
        .thumbnailActionItemWrapper {
          .ThumbnailActionItemContainer {
            .thumbnailActionButton {
              filter: invert(100%);
            }
            .thumbnailAddToCollectionContainer {
              .staticCollectionListContainer {
                filter: invert(100%);
              }
            }
          }

        }

        .thumbnailInformationView {
          //padding: 0 10px 0 0;
          .thumbnailInformationContainer {
            margin: 0;
            .ruleViolationCount {
              margin: 0;
            }
            .entityInformationIconIndicator{
              .entityInformationIcon {
                &.cloneContextIcon {
                  filter: invert(100%);
                }
                &.variantContextIcon{
                  filter: invert(100%);
                }
                &:hover{
                  opacity: 1;
                }
              }
            }
          }
        }

        .cloneOfContainer {
          @include background-properties-with-theme-white-color($image-CS-icons8-Copy-Filled-50, 19px);
        }

        /*.cloneOfContainer, .goldenRecordIndicator {
          filter: invert(100%);
        }*/
      }
    }
  }

  /*
  .thumbnailHeader{
    text-align: left;
    line-height: 20px;

    .thumbnailVersionText{
      margin: 2px 2px 2px 10px;
      font-size: 11px;
      color: #fff;
      font-style: italic;
      word-break: normal;
      float: right;
      line-height: 16px;
      background-color: #aaa;
      border-radius: 2px;
      padding: 0 4px;
      position: absolute;
      right: 0;
      bottom: 0;
      box-shadow: -6px 0px 0px 0px #fff;
    }

    .thumbnailLabelHeader{
      margin: 0 8px;
      word-break: break-all;
      overflow: hidden;
      height: 40px;
      position: relative;
    }

    .thumbnailTypeHeader{
      font-size: 11px;
      color: #aaa;
      margin: 5px 5px 3px 30px;
      display: inline-block;
      width: calc(100% - 77px);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      line-height: 14px;
    }

    .thumbnailTypeIcon {
      height: 16px;
      width: 16px;
      position: absolute;
      left: 7px;
      top: 4px;
      border-radius: 20%;
      overflow: hidden;
      background-size: 15px;
      background-repeat: no-repeat;
      background-position: 0px 1px;

      &:empty{
        background-image: url($image-CS-Book-52);
      }
    }

    .thumbnailTypeIconImage {
      max-height: 100%;
      max-width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  */

  .thumbnailBody{
    height: calc(100% - 66px);
    background-image: linear-gradient(#fff, #aaa);
  }

/*  .thumbnailTags{
    position: absolute;
    top: calc(100% - 40px);
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
    overflow: hidden;
    height: 40px;
    width: 100%;
    padding-top: 13px;
    transition: all .2s;
    z-index: 2;

    &.noShow{
      display: none;
    }

    .thumbnailTagsExpandCollapse{
      height: 16px;
      width: 100%;
      opacity: 0;
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: 16px;
      @include background-properties-with-theme-white-color($image-CS-Up-52);
      transition: all .2s;
      position: absolute;
      top: 0;
      cursor: pointer;

      &:hover{
        opacity: 1;
      }
    }

    .thumbnailTagsWrapper{
      height: 100%;
      overflow: hidden;
      !*********** IN Collapsed Mode *****************!
      .hitsContainer {
        display: inline-block;
        width: 100%;
        color: #FFF;
        text-align: center;
        text-shadow: 0 1px 1px #000;

        .searchInfo {
          .searchTextWrapper {
            height: 22px;
            border-radius: 4px;
            color: #fff;
            border: 1px solid #20da20;
            overflow: hidden;
            margin: 2px;
            text-shadow: 0px 1px 1px #000;
            background: rgba(0, 0, 0, 0.5);
            display: inline-block;
            .searchedText {
              float: left;
              max-width: 45px;
              overflow: hidden;
              text-overflow: ellipsis;
              height: 100%;
              line-height: 20px;
              font-size: 11px;
              margin: 0 4px;
              white-space: nowrap;
            }
          }
          .foundIn {
            line-height: 15px;
            font-size: 11px;
            color: #3be03b;
            padding-right: 3px;
          }
        }
      }
    }
  }

  .thumbnailToolbarContainer{
    position: absolute;
    overflow: hidden;
    top: 25px;
    right: 10px;
    transition: all .2s;
    opacity: 0;
    z-index: 2;

    .thumbnailTool{
      background-position: 6px;
      background-repeat: no-repeat;
      background-size: 18px;
      height: 30px;
      width: 30px;
      float: right;
      border-radius: 50%;
      background-color: rgba(0,0,0,.6);
      margin: 2px;
      box-shadow: 0px 1px 1px 0px rgba(0,0,0,.4) inset;
      cursor: pointer;

      &:hover{
        background-color: rgba(0,0,0,.7);
      }
    }

    .thumbnailToolView{
      @include background-properties-with-theme-white-color($image-CS-eye-black);
    }

    .thumbnailToolDelete{
      @include background-properties-with-theme-white-color($image-CS-delete-bin);
    }

    .thumbnailToolSelect{
      @include background-properties-with-theme-white-color($image-CS-CheckMark-black);
    }

    .thumbnailToolInfo{
      @include background-properties-with-theme-white-color($image-CS-menu-item-about);
      float: left;
    }
  }*/

  .noTagsGrey {
    display: none;
  }

  &.tagsExpanded{
    /*
    .thumbnailTags{
      background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.8));
      bottom: 0;
      height: calc(100% - 67px);
      top: 67px;

      .thumbnailTagsWrapper{
        overflow: auto;
        !*********** IN Expanded Mode *****************!
        .hitsContainer {
          height: auto;
          text-align: center;
          width: 100%;

          .searchInfo{
            .searchTextWrapper {
              height: 22px;
              border-radius: 4px;
              color: #fff;
              border: 1px solid #20da20;
              overflow: hidden;
              margin: 2px;
              text-shadow: 0px 1px 1px #000;
              background: rgba(0, 0, 0, 0.5);
              display:inline-block;
              .searchedText {
                float: left;
                max-width: 45px;
                overflow: hidden;
                text-overflow: ellipsis;
                height: 100%;
                line-height: 20px;
                font-size: 11px;
                margin: 0 4px;
                white-space: nowrap;
              }
            }
            .foundIn {
              font-size: 11px;
              color: #FFF;
              text-shadow: 0px 1px 0px #111;
              line-height: 14px;
            }
          }
        }
      }

      .thumbnailTagsExpandCollapse{
        @include background-properties-with-theme-white-color($image-CS-expand-arrow-icon);
      }
    }
    */
  }

  &:hover{
    //box-shadow: 1px 1px 10px -3px #666;

   /* .thumbnailTags{
      background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.8));
    }*/

    .thumbnailTagsExpandCollapse{
      opacity: .5;
    }

   /* .thumbnailToolbarContainer{
      opacity: 1;
      background: #fff;
    }*/
  }

  &.isOpenable {

    &:hover {
     // box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.4);
    }
  }

  /*
  .thumbImage {
    text-align: center;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    height: 100%;
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    padding: 0;
    float: left;

    .thumbnailImagePreview {
      max-width: 100%;
      max-height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: inline-block;
    }

    &.noImage {
      background: url($image-CS-ImageFile) no-repeat 50% 50%;
      background-size: 40%;
      opacity: .4;

      .thumbnailImagePreview {
        display: none;
      }
    }

    &.thumbPdf {
      background: url($image-ic-pdf) center no-repeat;
      background-size: 80%;

      .thumbnailImagePreview {
        display: none;
      }
    }

    &.thumbPpt {
      background: url($image-ic-ppt) center no-repeat;
      background-size: 80%;

      .thumbnailImagePreview {
        display: none;
      }
    }

    &.thumbIndd {
      background: url($image-ic-indd) center no-repeat;
      background-size: 80%;

      .thumbnailImagePreview {
        display: none;
      }
    }

    &.thumbDoc {
      background: url($image-ic-doc) center no-repeat;
      background-size: 80%;

      .thumbnailImagePreview {
        display: none;
      }
    }

    &.thumbXls {
      background: url($image-ic-xls) center no-repeat;
      background-size: 80%;

      .thumbnailImagePreview {
        display: none;
      }
    }

  }
  */

  &.folderThumb {

    .thumbnailTypeIcon:empty{
      background-image: url($image-CS-Books-52);
    }
  }

  &.collectionThumb{

    .thumbnailTypeIcon:empty{
      background-image: url($image-CS-Database-Grey-Filled-50);
    }

    &.folderThumb {
      .thumbnailTypeIcon:empty{
        background-image: url($image-CS-DatabaseFilled-50FOlder);
      }
    }
  }

  &.setThumb{

    .thumbnailTypeIcon:empty{
      background-image: url($image-CS-Door-Sensor-Filled-50);
    }

    &.folderThumb {
      .thumbnailTypeIcon:empty{
        background-image: url($image-CS-Door-Sensor-Filled-50);
        opacity: 0.5;
      }
    }
  }

  &.selectedThumb{

    .thumbSelectOverlay{
      display: block;
    }
  }

  &.isToCutEntity{
    opacity: .5;
  }
}

.detailRuleViolationCounterContainer {
  padding-top: 2px;
  .colorViolationWrapper {
    display: inline-block;
    margin: 0px 7px;

    .violationIcon {
      float: left;
      height: 13px;
      width: 13px;
      background-size: 13px;
      background-repeat: no-repeat;
      margin: 3px 5px 0px 0px;

      &.notificationIcon{
        background-image: url($image-CS-High-Priority-Filled-white-50);
      }

      &.redIcon {
        background-image: url($image-CS-Registered-Trademark-Filled-32);
      }

      &.orangeIcon {
        background-image: url($image-CS-Registered-Trademark-Filled-orange-32);
      }

      &.yellowIcon {
        background-image: url($image-CS-Registered-Trademark-Filled-yellow);
      }

      &.greenIcon {
        background-image: url($image-CS-Registered-Trademark-Filled-32-green);
      }

    }
    .violationCount {
      float: left;
    }
  }
}

.thumbUpperIconContainer{
  position: absolute;
  top: 3px;
  right: 2px;
  background-color: white;
  z-index: 2;

  .thumbMessageCounterContainer {
    float: right;

    .thumbCounterIconContainer {
      height: 18px;
      background-color: rgba(156, 156, 156, 0.69);
      padding: 2px 2px;
      border-radius: 50%;
      float: left;
      margin: 0px 1px;

      .thumbCounterIcon {
        float: left;
        height: 13px;
        width: 13px;
        background-size: 13px;
        background-repeat: no-repeat;

        &.notification {
          background-image: url($image-CS-High-Priority-Filled-white-50);
        }

        &.violation {

          &.redIcon{
            background-image: url($image-CS-Registered-Trademark-Filled-32);
          }

          &.orangeIcon{
            background-color: #fff;
            border-radius: 50%;
            background-image: url($image-CS-Registered-Trademark-Filled-orange-32);
          }

          &.yellowIcon{
            background-image: url($image-CS-Registered-Trademark-Filled-yellow);
          }

          &.greenIcon{
            background-image: url($image-CS-Registered-Trademark-Filled-32-green);
          }

        }
      }

      .thumbCount {
        float: left;
        font-size: 12px;
        margin: 0px 0px 0px 4px;
        color: white;
        line-height: 13px;
      }
    }
  }

  .thumbnailMiniIconContainer{
    float: right;

    .thumbnailMiniIcon{
      height: 15px;
      width: 15px;
      float: right;
      background-size: 14px;
      background-position: 0px 0px;
      background-repeat: no-repeat;
      opacity: .5;
      margin-top: 2px;

      &.variantIcon{
        @include background-properties-with-theme-green-color($image-CS-DNA-Helix,14px);
      }

      &.branchIcon{
        background-image: url($image-CS-VersionsFilled-50Green);
      }

    }
  }
}

.thumbnailContextMenuContainer{
  .contextMenuNode{
    width: 100px;
    line-height: 20px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.26);
    padding: 3px 10px;
    font-size: 12px;
    cursor: pointer;

    &:hover{
      background: #d1d1d1;
    }

    &:last-child{
      border: none;
    }
  }
}
