/*
@import "./../../../../styleguide/style-guide";
@import "../../../../styleguide/mixin";

.tileCarouselViewContainer {
  height: 130px;
  width: 100%;
  border-bottom: 1px solid $color-light-3;
  overflow: hidden;
  position: relative;
  margin-top: 10px;

  .scrollButton {
    height: 50px;
    width: 20px;
    visibility: hidden;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    background-color: white; //#fafafa
    background-position: center;
    background-repeat: no-repeat;
    top: 30px;
    background-size: 20px;
    border-radius: 2px;
    border: 1px solid #ddd;

    &.left {
      left: 0px;
      top: 45px;
      box-shadow: 1px 0 5px rgba(66, 66, 66, 0.25), inset 0 -1px 0 #eee;
      background-image: url($image-CS-Previous-48-disabled);
    }

    &.right {
      right: 0px;
      top: 45px;
      box-shadow: -1px 0 5px rgba(66, 66, 66, 0.25), inset 0 1px 0 #eee;
      background-image: url($image-CS-Previous-48-disabled);
      transform: rotate(180deg);
      visibility: visible;
    }
  }

  .tileContainerLabel {
    height: 13px;
    font-size: 12px;
    font-weight: 500;
    display: inline-block;
  }

  .containerExpandCollapse {
    background-size: 13px;
    height: 13px;
    width: 13px;
    display: inline-block;
    margin-left: 10px;
    position: absolute;
    right: 4px;
    top: 3px;
    background-image: url($image-CS-expand-arrow-icon);

    &.collapse {
      transform: rotate(180deg);
    }

    &.expand {

    }
  }

  .tileInnerContainer {
    display: inline-flex;
    overflow: hidden;
    position: absolute;
    top: 15px;
    left: 0px;

    .singleImageTileContainer {
      display: flex;
      width: 80px;
      height: 80px;
      float: left;
      margin: 15px 15px 15px 0px;
      text-align: center;

      .tileImage {
        max-height: 100%;
        max-width: 100%;
        border-radius: 5px;
        margin: auto;
      }
    }
  }

}*/
