@import "../../../../styleguide/mixin";
@import "../../../../styleguide/style-guide";
.xRaySection {
  float: left;

  .xRayButtonContainer {
    position: relative;
    height: 100%;
    width: 36px;
    transition: width 0.2s ease;

    .xRayButton {
      height: 27px;
      width: 36px;
      position: relative;
      opacity: .9;
      cursor: pointer;
      background-color: $color-light-1;
      border-radius: 3px;
      @include background-properties($image-CS-glasses, 20px);
      z-index: 5;
      float: right;

      &:hover {
        opacity: 1;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
      }

      &.isActive {
        opacity: 1;
        background-color: $color-light-4;

      }

      &:hover {
        opacity: 0.8;
      }

    }

    .settingsButton {
      height: 27px;
      width: 36px;
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      background-color: $color-light-1;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      opacity: 0;
      transition: all .2s;

      &.isActive {
        width: 72px;
        opacity: 0.9;

        .settingsIcon {
          height: 27px;
          width: 36px;
          opacity: .9;
          border-right: 1px solid $color-light-4;
          background-color: transparent;
          @include background-properties($image-CS-Settings-48, 20px, 50%);
        }
      }
    }

    &:hover , &.isActive {
      width: 72px;
      .settingsButton {
        width: 72px;
        opacity: 0.9;

        .settingsIcon {
          height: 27px;
          width: 36px;
          opacity: .7;
          border-right: 1px solid $color-light-4;
          background-color: transparent;
          @include background-properties($image-CS-Settings-48, 20px, 50%);
        }
      }
    }

    &.isActive {
      width: 72px;
    }
  }
}