/*
@import "./../../../../styleguide/style-guide";
.contextMenuItemWithShuffleKeys {
  padding: 5px;
  overflow: hidden;
  !*border-bottom: 1px solid #eee;*!
  cursor: pointer;
  transition: all .2s;

  &:hover {
    background-color: #fafafa;
  }

  .contextMenuDataWithShuffleKeys {
    float: left;
    margin-left: 5px;
    width: calc(100% - 60px);
    line-height: 30px;
  }


  .contextMenuCheckbox {
    margin-top: 6px;
    float: left;
    height: 20px;
    width: 20px;
    background-size: 14px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url($image-CS-Unchecked-Checkbox-48-Material);

    &.checked{
      background-image: url($image-CS-CheckedCheckbox-2-30-Black);
    }

  }

  .firstListItemShuffleKey {
    margin-right: 15px;
  }

  .contextMenuItemShuffleKeys {
    opacity: 0.6;
    float: right;
    height: 25px;
    width: 15px;
    background-size: 10px;
    background-position: 2px;
    background-repeat: no-repeat;

    &.Up {
      background-image: url($image-CS-arrow-up);
    }

    &.Down {
      background-image: url($image-CS-arrow-down);
    }
  }

}

.applyButtonContainerWrapper {
  padding: 6px;
  text-align: right;
}


*/
