@import "../../../../styleguide/mixin";
@import "basic-back-button-view";
@import "../../../../styleguide/style-guide";

.headerViewContainer {
  width: 100%;
  height: 42px;
  padding: 4px 15px;
  background-color: $color-light-1;
  box-shadow: 0 0 1px $color-dark-4;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .backButtonView {
    position: absolute;
    left: 8px;
    top: 8px;
    @include backButtonHeightStyle(26px);

    &.disabled {
      @include disabled();
    }
  }

  .headerViewWrapper {
    float: left;

    .headerLabel {
      border: none;
      background: transparent;
      display: inline-block;
      font-weight: 500;
      font-size: 12px;
      line-height: 22px;
      height: 22px;
      float: left;
      color: $color-theme-accent;
      @include ellipsis();
    }

    .collectionOrHierarchyIcon {
      height: 22px;
      width: 22px;
      float: left;
      margin-right: 2px;

      &.Bookmark {
        @include background-properties-with-theme-color($image-CS-Bookmark-Ribbon-64, 14px, 50%);
      }

      &.Collection {
        @include background-properties-with-theme-color($image-CS-collection-static-collection-blue, 14px, 50%);
      }

      &.Taxonomy {
        @include background-properties-with-theme-color($image-CS-Categorize-50-333, 14px, 50%)
      }

      &.Relationship {
        @include background-properties-with-theme-color($image-CS-hub, 14px, 5px 4px);
      }

      &.Filter {
        @include background-properties-with-theme-color($image-filter-hierarchy-blue, 14px, 50%);
      }

      &.Inbound {
        display: none; //no icon, so should not take space
      }

      &.Outbound {
        display: none; //no icon, so should not take space
      }
    }
  }

  .headerToolBarWrapper{
    position: absolute;
    right: 0px;
  }

  .activeCollectionType {
    font-size: 12px;
    font-weight: 500;
    float: left;
    height: 22px;
    line-height: 22px;
    color: $color-theme-accent;
  }

  .activeCollectionIcon {
    width: 25px;
    height: 22px;
    display: inline-block;
    vertical-align: top;
    background-repeat: no-repeat;
    margin-left: 15px;
    float: left;

    &.dynamic {
      @include background-properties-with-theme-color($image-CS-Bookmark-Ribbon-64, 18px, 50%);
    }

    &.static {
      @include background-properties-with-theme-color($image-CS-collection-static-collection-blue, 18px, 50%);
    }
  }

  .activeCollection {
    padding-left: 5px;
    color: $color-dark-4;
    height: 22px;
    float: left;

    .headerLabel {
      color: $color-dark-4;

      &.editable {
        outline: none;
        text-decoration: none;
        width: 100%;
      }
    }

    .editIcon {
      width: 20px;
      height: 20px;
      display: inline-block;
      vertical-align: top;
      background-repeat: no-repeat;
      margin-left: 5px;
      opacity: 0.6;
      cursor: pointer;
      @include background-properties($image-CS-Edit-32, 11px, 50%);

      &:hover {

      }
    }

    .visibilityModeIcon {
      width: 20px;
      height: 20px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      opacity: 0.6;
      @include background-properties($image-CS-unlock, 12px, 0px 5px);
      &.privateMode {
        @include background-properties($image-CS-lock, 12px, 0px 5px);
      }

    }

    .autoSizeContainer {
      width: auto;

      .labelInput {
        max-width: 100%;
        border: none;
        border-bottom: 1px solid $color-dark-4;
        &:focus {
          outline: none
        }
      }
    }
  }
}