.ruleListConfigViewContainer {
  height: 100%;

  .listOfRuleListViewContainer {
    width: 25%;
    height: 100%;
    border-right: 1px solid #bbb;
    float: left;
  }

  .ruleListDetailedViewContainer {
    width: 75%;
    height: calc(100% - 52px);
    display: inline-block;
    overflow: auto;
    //background-image: linear-gradient(#f1f1f1, #f6f6f6);


    .ruleListDetailWrapper{
      .ruleListLabelContainer{
        box-shadow: 0px 0px 5px gray;
        margin: 20px;
        padding: 10px;

        .ruleListLabel{
          float: left;
          width: 10%;
          line-height: 22px;
        }

        .ruleListLabelValue{
          border: none;
          width: 25%;
          padding: 5px 10px 5px 10px;
          float: left;
        }

        .ruleListCode {
          float: left;
          width: 10%;
          line-height: 22px;
          margin-left: 20px;
        }

        .ruleListCodeValue {
          border: none;
          width: 35%;
          padding: 5px 10px 5px 10px;
          background-color: #fff;
          color: #999;
        }
      }

      .blackListEditableViewContainer{
        width: initial;
        //box-shadow: 0px 0px 5px gray;
        //margin: 20px;
        //padding: 10px;

        .itemMainInputContainer{
          .mainInput{
            padding-left: 10px;
            border: 1px solid #ddd;
          }
        }
      }
    }
  }
}