@import "./../../../../styleguide/style-guide";
@import "../../../../styleguide/mixin";

$height: 100%;
$width: 100%;

.gridConcatenatedAttributePropertyView {
  height: $height;
  width: $width;
  cursor: pointer;
  min-height: 36px;

  .concatenationFormula {
    width: $width;
    text-align: center;
    color: $color-light-19;
    padding: 3px 9px 9px 3px;
    overflow: hidden;
    min-height: 36px;
    height: inherit;

    .element {
      float: left;
      height: 20px;
      line-height: 20px;
      margin: 6px 0 0 6px;
      color: $color-dark-9;
      background-color: $color-light-5;
      border-radius: 3px;
      padding: 0 25px 0 4px;
      box-shadow: 0 0 0 1px $color-light-22;
      background-size: 16px;
      position: relative;
      max-width: $width;
      @include ellipsis();

      .typeIcon {
        height: $height;
        width: 22px;
        position: absolute;
        top: 0;
        right: 0;
        background-repeat: no-repeat;
        background-position: 50%;
        opacity: 0.7;

        &.string {
          @include background-properties($image-CS-Text-Box-Filled-50, 16px);
        }

        &.attribute {
          @include background-properties($image-CS-Text-Color-Filled-50, 14px);
        }

        &.tag {
          background-size: 14px;
          background-image: url($image-CS-Price-Tag-Filled-50);
        }
      }
    }
  }
}