/*
.contextualAttributeElementViewContainer {
  width: 100%;
  margin-bottom: 10px;
  .customTextFieldLabel {
    font-size: 11px;
    color: #777;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 120px);
  }

  .customTextFieldDescription {
    font-size: 11px;
    color: #aaa;
    font-style: italic;
    margin-bottom: 5px;
  }

  .contextualAttributeValueContainer {
    margin: 10px 0 10px 0;
    float: left;
    width: 100%;
    .contextualAttributeValueWrapper {
      background-color: #FFFFFF;
      .contextualAttributeLabel {
        font-size: 13px;
        color: #7A7A7A;
        float: left;
        margin-right: 5px;
      }

      .contextualAttributeValue {
        font-size: 13px;
        color: #444;
        font-weight: 500;
      }

      .contextualAttributePlaceholder {
        font-size: 13px;
        color: rgba(0, 0, 0, 0.3);
        width: 100%;
        float: left;
      }
    }
  }
}*/
