.stepperSummery {
  margin-top: 8px;
  margin-left: 12px;
  border-left: 1px solid #bdbdbd;
  padding-left: 34px;
  padding-right: 8px;
}

.separator {
  margin-bottom: 2px;
}

.stepperViewContainer {
  height: 100%;
  .stepViewWrapper {
    height: calc(100% - 40px);
    padding: 20px 10px 0 10px;
    .stepViewContainer {
      height: calc(100% - 45px);
    }
  }
}

.stepperContainer {
  padding: 0 30%;
  border-bottom: 1px solid rgb(221, 221, 221);
  margin: auto;
}

.stepViewContainer {
  .paperViewContainer {
    .paperViewHeader {
      .arrow {
        &.arrow-down {
          visibility: hidden;
        }
      }
    }
  }
}