@import "../../../../styleguide/mixin";
@import "../../../../styleguide/style-guide";

.contentGridEditViewContainer {
  height: 100%;
  width: 100%;

  .contentGridEditViewHeader {
    overflow: hidden;
    padding: 10px 5px;
    height: 54px;
    background: $color-light-1;
    z-index: 11;
    position: relative;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .3);

    /*.toolbarItem {
      margin-left: 24px;
    }*/

    .contentGridEditViewHeaderLabel {
      line-height: 36px;
      font-size: 15px;
      font-weight: 500;
      text-transform: uppercase;
      text-align: center;
      width: 100%;
      color: #666;
    }
  }

  .gridView {
    height: 100%;
    padding: 20px;

    &.gridViewContainer {

      .gridViewMiddleSection {
        .gridViewTableContainer {
          border-left: 1px solid #eee;
          .gridViewTable {
            .leftFixedSection {
              .gridViewHeaderRow {
                .gridViewCell {
                  &.header {
                    box-shadow: inset -1px -1px 0 0 $color-light-5, inset 1px 1px 0 0 $color-light-5;
                  }
                }
              }
            }
          }
        }
      }

      .gridViewCell {
        .customFroalaView {
          .fr-disabled {
            background: rgba(200, 200, 200, 0.2);
          }
        }
        &.disabled {
          background-color: rgb(245, 245, 245);
        }

        .gridTagView {
          width: 100%;

          .tagsGroupContainer {
            .rulerTagTypeView {
             // padding: 10px 5px;
             // overflow: hidden;
            }
          }

          .tagsSectionBody {
            padding: 0;

            .entityTagsSummaryView {
              margin-bottom: 0;
              margin-top: 0;

              .noTagsGrey {
              }
            }
          }

          .tagNodeWrapper {
          }
        }

        .customDatePickerWrapper {
          .datePickerCustom {
            height: 26px;

            > div {
              width: auto !important;
              height: auto !important;
              line-height: 30px;
            }
          }
        }
      }

      .gridViewUpperSection {
        padding: 10px 0px 0px 0px;

        .upperSectionButtonsContainer {
          overflow: visible;
          .contentGridActionButtonWrapper {
            float: left;
            height: 32px;
            /*.contextMenuViewNewContainer {
              float: left;
              padding-right: 1px;
              .columnOrganiserButton {
                $columnOrganiserButtonHeight: 30px;

                height: $columnOrganiserButtonHeight;
                width: auto;
                border-radius: 3px;
                float: left;
                background-color: $color-light-1;
                box-shadow: 0 0 0 1px #d6d6d6;
                cursor: pointer;
                margin: 0px;

                .buttonLabel {
                  padding: 0 5px;
                  font-size: 11px;
                  line-height: $columnOrganiserButtonHeight;
                  float: left;
                  text-transform: uppercase;
                  font-weight: 500;
                  color: #7a7a7a;
                  max-width: 150px;
                  @include ellipsis();
                }

                .selectedColumnCount {
                  width: 20px;
                  float: left;
                  line-height: 20px;
                  background-color: rgb(235, 235, 235);
                  border-radius: 50%;
                  text-align: center;
                  margin: 5px;
                  @include ellipsis();
                }

                .buttonIcon {
                  height: $columnOrganiserButtonHeight;
                  width: 20px;
                  float: left;
                  opacity: .8;
                  @include background-properties($image-CS-expand-arrow-icon, 16px, 50%)
                }
              }
            }*/

            .propertyEditableContainer {
              height: 100%;
              display: flex;
              background-color: #fff;
              .columnOrganiserButton {
                border: solid 1px #ddd;
                border-radius: 3px;
                height: 100%;
                padding: 2px;
              }
            }
          }
        }
      }
    }
  }
}
