@import "./../../../../styleguide/style-guide";
@import "../../../../styleguide/mixin";

.downloadTrackerConfigViewWrapper {
  .gridView {
    .filterDetailsSectionContainer {
      background-color: $color-light-11;
      padding: 2px 8px;

      .searchFilterWrapper {
        .searchFilterContainer {
          display: inline-block;
          width: calc(100% - 10px);
          margin: 0 5px;

          .filterSearchBox {
            width: auto;
            float: left;
            display: inline-block;
            padding-right: 10px;
            margin: 5px 0;

            .searchLabel {
              float: left;
              margin-top: 3px;
              margin-right: 5px;
              font-weight: 500;
              font-size: 11px;
              height: 13px;
            }

            .simpleSearchBarView {
              float: left;
              border: 1px solid #E4E5E7;
              height: 20px;
              border-radius: 3px;
              max-width: 130px;

              .simpleSearchBarSearchIcon {
                float: right;
                color: $color-dark-6;
                opacity: 0.4;
                transform: scale(-1,1);
              }

              .simpleSearchBarInput {
                &:placeholder-shown {
                  padding-left: 10px;
                  color: $color-dark-6;
                  opacity: 0.4;
                }
              }
            }
          }

          .hideButtonWrapper {
            float: right;
            width: 51px;
            cursor: pointer;
            position: relative;
            top: 5px;
            opacity: 0.6;
            .hideButtonLabel {
              display: inline-block;
              font-weight: 500;
            }

            .collapseIcon {
              float: right;
              height: 7px;
              width: 13px;
              position: relative;
              top: 5px;
              @include background-properties($image-CS-Collapse-Arrow-32);
            }
          }
        }

        .availableFiltersWrapper {
          margin-left: 5px;
          border-bottom: 1px solid $color-light-14;
          display: block;
          div {
            display: inline-block;

            .availableFiltersContainer {
              .hideMe {
                display: none;
              }
              .availableFilterItemsContainer {
                .availableFilterItemWrapper {
                  margin-right: 5px;
                  max-height: 26px;
                  .availableFilterItem {
                    min-width: 90px;
                    .availableFilterItemExpand {
                      float: right;
                    }
                  }
                }
              }

              .availableFiltersLabel {
                display: none;
              }

              .dateRangePickerWrapper {
                width: 100%;

                .react-bootstrap-daterangepicker-container {
                  display: inline-block;
                  width: 100%;

                  .gridCalenderSection {
                    padding: 5px;
                    cursor: pointer;
                    display: grid;
                    grid-template-columns: 90% 10%;
                    height: 26px;

                    .filterDateRangeSection {
                      @include ellipsis();
                    }

                    .expandButton {
                      height: 100%;
                      width: 10px;
                      display: inline-block;
                      opacity: .4;
                      @include background-properties-with-gray-color($image-CS-expand-arrow-icon, 12px);
                    }
                  }
                }
              }
            }
          }

          .applyFilterButton {
            height: 25px;
            width: 85px;
            background-color: $color-dark-blue;
            border: 1px solid $color-dark-blue;
            border-radius: 3px;
            float: right;
            text-align: center;
            margin-right: 5px;
            cursor: pointer;
            .applyFilterLabel {
              font-size: 12px;
              vertical-align: middle;
              color: $color-light-1;
            }
          }
        }
      }

      .appliedFilterContainer {
        padding: 5px;
        .filterSummaryRowClearLabel {
          height: 25px;
          width: 85px;
          text-align: center;
          border: 1px solid $color-dark-blue;
          border-radius: 3px;
          .clearFilterLabel {
            height: 14px;
            color: $color-dark-blue;
            font-size: 12px;
            vertical-align: middle;
            text-align: left;
          }
        }

        .filterSummaryRowContainer {
          width: calc(100% - 95px);
          display: inline-block;
          .filterSummaryRowFilterLabel {
            color: $color-dark-6;
          }
          .appliedFiltersEmptyMessage {
            opacity: .4;
            font-size: 11px;
            font-weight: 500;
            position: relative;
            top: 5px;
          }
        }
        .expandFilterButton {
          float: right;
          height: 15px;
          width: 63px;
          opacity: 0.6;
          cursor: pointer;
          .filtersLabel {
            display: inline-block;
            font-weight: 500;
          }
          .expandButton {
            float: right;
            height: 7px;
            width: 13px;
            position: relative;
            top: 5px;
            @include background-properties($image-CS-expand-arrow-icon);
          }
        }
      }
    }

    &.gridViewContainer {
      .gridViewMiddleSection {
        .gridViewMiddleSectionWrapper {
          .gridViewRow {
            .gridViewCell {
              .gridPropertyView {
                .customTextFieldViewContainer {
                  .customTextField {
                    span {
                      overflow: hidden;
                      white-space: nowrap;
                      text-overflow: ellipsis;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}