.contentPopoverViewContainer {
  display: inline-block;
  position: relative;
  /*.upCaret1{
    &:before {
      content: "";
      border-color: transparent;
      border-style: dashed dashed solid;
      border-width: 0 8.5px 8.5px;
      position: absolute;
      right: 60px;
      top: -9px;
      z-index: 1;
      height: 0;
      width: 0;
      border-bottom-color: #ccc;
      border-bottom-color: rgba(0, 0, 0, 0.2);
    }
  }
  .upCaret2{
    &:before {
      content: "";
      border-color: transparent;
      border-bottom-color: #fff;
      border-style: dashed dashed solid;
      border-width: 0 8.5px 8.5px;
      position: absolute;
      right: 58px;
      top: -8px;
      z-index: 1;
      height: 0;
      width: 0;
    }
  }*/
  &.selectedContext{
    &:after {
      content: "";
      border-color: transparent;
      border-bottom-color: #fff;
      border-style: dashed dashed solid;
      border-width: 0 8.5px 8.5px;
      position: absolute;
      right: 50%;
      bottom: 0;
      z-index: 9999;
      height: 0;
      width: 0;
    }
  }
}