@import "../../../../styleguide/mixin";
@import "../../../../styleguide/style-guide";

.bulkCustomDownloadDialogView {
  padding: 0 !important;

  .bulkDownloadAssetDialog {
    height: 100%;
    width: 100%;
    overflow: hidden;
    .downloadDialogScrollableSection {
      padding: 20px;
      height: calc(100% - 90px);
      overflow-y: auto;
      scrollbar-width: thin;

      .downloadDialogListViewContainer {
        width: 100%;
        display: table;
        margin-bottom: 10px;
        font-size: large;
        cursor: default;
        overflow: hidden;
        height: 45px;
        border: 1px solid #D9D9D9;
        border-radius: 3px;

        .downloadDialogListViewWrapper {
          height: 45px;
          margin-left: 10px;
          margin-right: 10px;
        }

        .downloadDialogListViewIcon {
          width: 30px;
          height: 30px;
          float: left;
          margin-right: 10px;
          margin-top: 10px;
          .imageFitToContainer {
            .imageSimpleViewNoImage {
              background-size: 100%;
            }
            .imageFitToContainerImage {
              position: relative;
              top: -2px;
              left: unset;
              transform: unset;
            }
          }
        }
        .downloadDialogListWrapper {
          display: flex;
          align-items: center;
          height: inherit;
          justify-content: space-between;

          .downloadDialogListViewName {
            max-width: 450px;
            color: #333333;
            .downloadDialogListLabel {
              float: left;
              display: -webkit-box;
              font-weight: 500;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              word-break: break-all;
              width: calc(100% - 10px);
              font: Regular 13px/15px Rubik;
              @include ellipsis
            }
            .downloadDialogListId {
              margin: 0;
              padding: 0;
              opacity: 0.5;
              font-style: normal;
              border-radius: unset;
              background: transparent;
              width: calc(100% - 10px);
              font: Regular 10px/12px Rubik;
              @include ellipsis
            }
          }
          .downloadDialogParentListRightPanelWrapper {
            width: fit-content;
            flex-grow: 100;
            .selectedAssetsCount {
              float: right;
              color: #333333;
              padding-right: 20px;
              display: inline-block;
              .selectedAssetsCountKey {
                opacity: 0.5;
              }
              .selectedAssetsCountValue {

              }
            }
            .selectedAssetsSize {
              float: right;
              color: #333333;
              padding-right: 10px;
              display: inline-block;
              .selectedAssetsSizeKey {
                opacity: 0.5;
              }
              .selectedAssetsSizeValue {

              }
            }
          }
        }
        &.expanded {
          border: 1px solid #3248A7;
          background: #F7F7F7;

          .downloadDialogListViewWrapper {
            height: 45px;
            margin-left: 0;
            margin-right: 0;
            border-bottom: 1px solid #D9D9D9;
            padding-right: 10px;
            padding-left: 10px;
          }
        }

        .downloadDialogCheckbox {
          float: left;
          width: 20px;
          cursor: pointer;
          margin-right: 2px;
          @include background-properties-with-theme-light-gray-color($image-CS-Unchecked-Checkbox-48-Material, 14px);

          &.isChecked {
            @include background-properties($image-checked-checkbox-without-border-radius, 14px);
          }

          &.halfChecked {
            @include background-properties-with-gray-color($image-cs-checkbox-partial-checked, 14px);
          }

          &.disabled {
            pointer-events: none;
          }
        }
      }

      .downloadDialogClassChildContainer {
        width: 100%;
        font-size: large;
        cursor: default;
        overflow: hidden;
        height: 37px;
        display: table;
        .downloadDialogClassChildWrapper {
          display: inline-flex;
          align-items: center;
          height: 32px;
          width: 100%;

          .downloadDialogClassChildLabel {
            align-items: center;
            padding-left: 5px;
            padding-top: 2px;
            font-size: 12px;
            float: left;
            width: calc(100% - 80px);
            @include ellipsis
          }
        }
      }

      .childElementView {
        display: table;
        width: calc(100% - 20px);
        border: 1px solid #D9D9D9;
        border-radius: 2px;
        margin-left: 10px;

        .downloadDialogChildElementContainer {
          width: 100%;
          display: table;
          padding-left: 10px;
          font-size: large;
          cursor: default;
          overflow: hidden;
          height: 25px;
          background: #FFFFFF;

          .downloadDialogChildElementInput {
            padding-top: 4px;
            padding-left: 5px;
            align-items: center;
            font-size: 12px;
            float: left;
            width: calc(100% - 170px);
            letter-spacing: 0px;
            border-width: 0px;
            &.unChecked {
              pointer-events: none;
            }
            &.invalid {
              background: #FFE8E8 0 0 no-repeat padding-box;
            }
          }
          .downloadDialogChildRightSideElementsWrapper {
            padding-top: 2px;
            display: flex;
            .childExtension {
              opacity: 0.5;
              padding-left: 10px;
            }
            .childSizeWithUnit {
              width: 50px;
              float: right;
              opacity: 0.5;
              padding-right: 10px;
              padding-left: 10px;
            }
          }
          &.disabled {
            pointer-events: none;
          }
        }
      }
      .expandIcon {
        @include topInlineBlock();
        @include background-properties-with-theme-gray-color($image-CS-expand-arrow-icon, 20px);
        width: 20px;
        height: 20px;
        float: right;
        padding-right: 39px;
        opacity: 0.5;
        cursor: pointer;

        &.expanded {
          @include background-properties-with-theme-gray-color($image-CS-Collapse-Arrow-32, 20px);
        }
        &.disabled {
          pointer-events: none;
        }
      }
    }

    .downloadDialogFixedSection {
      height: 90px;
      width: 100%;
      background: #FCFAFA 0% 0% no-repeat padding-box;
      .downloadAsSectionContainer {
        height: 50%;
        display: flex;
        align-items: center;
        width: 100%;
        border-top: 1px solid #D9D9D9;
        .downloadAsSectionLeftPanel {
          width: 40%;
          display: flex;
          align-items: center;
          padding: 14px 0 15px 20px;
          .downloadAsLabel {
            width: 85px;
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-right: 10px;
            font-size: 12px;
            align-items: center;
            letter-spacing: 0px;
            color: #333333;
          }
          .downloadAsInput {
            width: fit-content;
            flex-grow: 100;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 0.699999988079071px solid #EFEFEF;
            border-radius: 3px;

            &.invalid {
              background: #FFE8E8 0% 0% no-repeat padding-box;
              border: 1px solid rgb(213, 60, 60);
            }
          }
          .downloadAsExtension {
            padding-left: 10px;
            letter-spacing: 0px;
            color: #333333;
          }
          &.disabled {
            pointer-events: none;
            opacity: 0.3;
          }
        }
        .downloadAsSectionRightPanel {
          width: 60%;
          height: 100%;
          align-items: center;
          padding-right: 20px;
          .separateFolderContainer {
            padding-top: 5px;
            float: right;
            display: flex;
            margin-left: 20px;
            letter-spacing: 0px;
            color: #333333;
            .separateFolderCheckbox {
              float: left;
              width: 20px;
              cursor: pointer;
              padding-top: 38px;
              height: 100%;
              margin-right: 2px;
              @include background-properties-with-theme-light-gray-color($image-CS-Unchecked-Checkbox-48-Material, 18px);

              &.isChecked {
                @include background-properties($image-checked-checkbox-without-border-radius, 18px);
              }
            }
            .separateFolderViewLabel {
              width: 235px;
              display: inline-block;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              padding-top: 10px;
            }
            &.disabled {
              pointer-events: none;
              opacity: 0.3;
            }
          }
          .downloadDialogToggleButtonContainer {
            float: right;
            display: flex;
            margin-left: 10px;
            align-items: center;
            padding-top: 10px;
            .downloadDialogYesNoView {
              float: right;
              .downloadDialogYesNoSwitch {
                height: 17px;
                width: 33px;
                border-radius: 11px;
                position: relative;
                overflow: hidden;
                z-index: 1;
                margin: auto;

                .downloadDialogYesNoSwitchButton {
                  position: absolute;
                  height: 20px;
                  padding: 1px 0;
                  top: 0;
                  background-color: #ddd;
                  transition: all .1s ease-out;
                  cursor: pointer;

                  &.disabled {
                    opacity: 0.3;
                    cursor: default;
                  }

                  &.yes {
                    background-color: #4fbf77;
                    left: -7px;
                  }

                  &.no {
                    left: -22px;
                  }

                  .textSection {
                    height: 100%;
                    width: 24px;
                    text-align: center;
                    color: #fff;
                    font-weight: 500;
                    line-height: 18px;
                    display: inline-block;
                    vertical-align: top;
                    user-select: none;
                    -moz-user-select: none;

                    &.yes {
                      padding: 0 0 0 2px;
                    }

                    &.no {
                      padding: 0 2px 0 0;
                      color: #888;
                    }
                  }

                  .circleSection {
                    background-color: #fff;
                    border-radius: 50%;
                    height: 15px;
                    width: 15px;
                    display: inline-block;
                    vertical-align: top;

                  }
                }
              }
            }
            .downloadDialogToggleButtonLabel {
              width: 235px;
              display: inline-block;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              float: right;
              padding: 5px 4px 4px 4px;
              letter-spacing: 0px;
              color: #333333;
            }
            &.disabled {
              opacity: 0.3;
              pointer-events: none;
            }
          }
        }
      }
      .commentSection {
        height: 50%;
        display: flex;
        align-items: center;
        border-top: 1px solid #D9D9D9;
        .commentSectionLeftPanel {
          width: fit-content;
          display: flex;
          flex-grow: 100;
          align-items: center;
          padding: 14px 20px 15px 20px;
          .commentSectionLabel {
            display: inline-block;
            width: 85px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-right: 22px;
            letter-spacing: 0px;
            color: #333333;
          }
          .commentSectionInput {
            width: calc(100% - 100px);
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 0.699999988079071px solid #EFEFEF;
            border-radius: 3px;
          }
          &.disabled {
            opacity: 0.3;
            pointer-events: none;
          }
        }
        .commentSectionRightPanel {
          width: fit-content;
          align-items: center;
          padding: 14px 20px 15px 0;
          background: #EFEFEF 0% 0% no-repeat padding-box;
          .totalAssetsSizeSection {
            display: flex;
            .totalAssetsLabel {
              padding-left: 10px;
              padding-right: 10px;
              letter-spacing: 0px;
              color: #333333;
            }
            .totalSelectedAssetsLabel {
              opacity: 0.5;
              padding-right: 5px;
            }
            .totalSelectedAssetsValue {
              padding-right: 20px;
              letter-spacing: 0px;
              color: #333333;
            }
            .totalSelectedAssetsSizeLabel {
              opacity: 0.5;
              padding-right: 5px;
            }
            .totalSelectedAssetsSizeValue {
              letter-spacing: 0px;
              color: #333333;
            }
          }
        }
      }
    }
    .downloadDialogToggleButtonContainer {
      float: right;
      display: flex;
      margin-left: 10px;
      align-items: center;
      .downloadDialogYesNoView {
        float: right;
        .downloadDialogYesNoSwitch {
          height: 17px;
          width: 33px;
          border-radius: 11px;
          position: relative;
          overflow: hidden;
          z-index: 1;
          margin: auto;

          .downloadDialogYesNoSwitchButton {
            position: absolute;
            height: 20px;
            padding: 1px 0;
            top: 0;
            background-color: #ddd;
            transition: all .1s ease-out;
            cursor: pointer;

            &.disabled {
              opacity: 0.3;
              cursor: default;
            }

            &.yes {
              background-color: #4fbf77;
              left: -7px;
            }

            &.no {
              left: -22px;
            }

            .textSection {
              height: 100%;
              width: 24px;
              text-align: center;
              color: #fff;
              font-weight: 500;
              line-height: 18px;
              display: inline-block;
              vertical-align: top;
              user-select: none;
              -moz-user-select: none;

              &.yes {
                padding: 0 0 0 2px;
              }

              &.no {
                padding: 0 2px 0 0;
                color: #888;
              }
            }

            .circleSection {
              background-color: #fff;
              border-radius: 50%;
              height: 15px;
              width: 15px;
              display: inline-block;
              vertical-align: top;

            }
          }
        }
      }
      .downloadDialogToggleButtonLabel {
        float: right;
        padding: 4px;
      }
    }
    .downloadDialogInvalidClassViewContainer {
      height: 25px;
      width: 25px;
      padding-right: 35px;
      @include background-properties-with-theme-red-color($image-CS-menu-item-about, 16px);
    }
  }
  .downloadDialogDownloadButton {
  }
}