@import "../../../../styleguide/mixin";
@import "../../../../styleguide/style-guide";

$toggleButtonSectionHeight: 40px;

.expandableMenuListView {
  height: 100%;
  border: 1px solid $color-light-3;
  background-color: $color-light-1;
  transition: all .2s ease-out;
  border-left: none;
  border-right: none;

  &.expanded {
    width: 200px;
    .listItemsSection {
      .listItem {
        .labelSection {
          padding-right: 2px;
        }
      }
    }
  }

  &.collapsed {
    width: auto;

    .listItemsSection {

      .listItem {

        .labelSection {
          width: 0;
        }
      }
    }

    .toggleButtonSectionIcon {
      transform: rotate(180deg);
    }
  }

  $listItemHeight: 40px;
  $iconSectionWidth: 40px;
  $expandIconWidth: 20px;

  .listItemsSection {
    height: calc(100% - #{$toggleButtonSectionHeight});
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;

    .listItem {
      height: $listItemHeight;
      width: calc(100% - 18px);
      cursor: pointer;
      margin: 0 10px;
      border-radius: 2px;
      display: flex;

      &.cannotExpand {
        width: calc(100% - 18px);
      }

      &.child {
       /* &.selected {
          background-color: $color-light-3;

          .iconSection {
            opacity: 1;
          }
        }*/
      }

      &:first-child {
        margin: 10px 10px 0 10px;
      }

      &.selected {
        background-color: $color-light-3;

        .iconSection {
          opacity: 1;
        }
      }

      &.disabled {
        pointer-events: none;
        .iconSection {
          opacity: 0.3;
        }
        .labelSection {
          color: #C8C8C8;
        }
      }

      .iconSection {
        @include topInlineBlock();
        width: $iconSectionWidth;
        height: 100%;
        line-height: $listItemHeight;
        text-align: center;
        opacity: .7;

        .iconContainer {
          height: calc(100% - 20px);
          width: calc(100% - 20px);
          position: relative;
          margin: 10px;

          .treeNodeIcon{
            height: 100%;
            width: 100%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            //filter: invert(1);
          }
        }

        .itemInitials {
          text-transform: uppercase;
          font-weight: 500;
          font-size: $font-large;
          overflow: hidden;
          color: $color-light-1;
          margin: 8px;
          line-height: 24px;
          height: 24px;
          background: #333;
          border-radius: 2px;
        }

      }

      .labelSection {
        @include topInlineBlock();
        @include ellipsis();
        width: calc(100% - #{$iconSectionWidth});
        height: 100%;
        line-height: $listItemHeight;
        overflow: hidden;
        transition: all .2s ease-out;
      }
    }
  }

  .toggleButtonSection {
    height: $toggleButtonSectionHeight;
    width: 100%;
    //border-top: 1px solid $color-light-3;
    line-height: $toggleButtonSectionHeight;
    cursor: pointer;
    background: $color-light-2;

    .toggleButtonSectionIcon{
      height: $toggleButtonSectionHeight;
      width: $toggleButtonSectionHeight;
      margin: 0 auto;
      background-size: 15px;
      background-position: center;
      background-repeat: no-repeat;
      transition: all .4s;
      background-image: url($image-CS-double-left);
      opacity: .5;
    }

    &:hover{
      .toggleButtonSection{
        opacity: .8;
      }
    }
  }

  &.isNested {
    .listItemsSection {
      .listItem {
        .labelSection {
          width: calc(100% - #{$iconSectionWidth} - #{$expandIconWidth});
        }

        .expandIcon {
          @include topInlineBlock();
          @include background-properties($image-CS-expand-arrow-icon, 13px, 3px 14px);
          opacity: .4;
          width: $expandIconWidth;
          height: 100%;

          &.expanded {
            @include background-properties($image-CS-Collapse-Arrow-32, 13px, 3px 14px);
          }
        }
      }
    }

    &.collapsed {
      //width: 90px;
      .listItemsSection {
        .listItem {
          .labelSection {
            width: 0;
          }
        }
      }
    }
  }
}


.treeNodeIcon{

  &.treeNodeItemStaticTranslation{
    @include background-properties-with-theme-white-color($image-CS-subtitles-50);
  }
}