/*
.contentRelationshipMaterialContainer {
  box-shadow: 0px 0px 0px 1px #e2e5e7;
  //margin-top: 15px;
  background-color: #fff;
  width: 100%;
  transition: width .2s;
  display: inline-block;

  .relationshipHeader {
    font-size: .9rem;
    padding: 8px 12px;
    font-size: 13.5px;
  }

  .relationshipBody {
    padding: 8px;
  }
}*/
