.groupedSelectionToggleContainer {
  width: 100%;

  .groupRow {
    width: 100%;
    overflow: hidden;

    .groupLabel {
      float: left;
      line-height: 35px;
    }

    .groupValueSelector {
      float: left;
      width: 700px;

      .selectionToggleView {
        .tagListBody {
          .tagElement {
            max-width: none;
          }
        }
      }
    }
  }
}