@import "./../../../../styleguide/style-guide";

.jobLogContainer {
  /*height: 700px;
  overflow: auto;*/

  .componentContainer {
    margin: 30px 10px;
    overflow: auto;
    position: relative;

    .jobLabel {
      font-size: 15px;
      font-weight: bold;
      padding-bottom: 5px;
    }

    table, th, td {
      border: 1px solid #aaa;
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
      padding: 6px;
      text-align: left;
      width: 50%;
      white-space: nowrap;
    }
    th{
      font-weight: 500;
      background-color: #eee;
    }
  }
}
