.imageFitToContainer{
  height: 100%;
  width: 100%;

  .imageFitToContainerImage{
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.portrait{
    .imageFitToContainerImage {
      width: 100%;
      max-height: none;
    }
  }

  &.landscape{
    .imageFitToContainerImage {
      height: 100%;
      max-width: none;
    }
  }
}