$brand-about-logo-image: '../images/contentserv_Blue.svg';
$image-brand-logo: '../images/small_logo_white.png';
$color-theme-accent: #152078 !default;
$brand-logo-login-screen: '../images/contentserv-logo.svg';
$brand-login-banner: '../images/login-baner.jpg';
$brand-left-bg-color: "to bottom, #152078 0%, #131d6f 24%, #10185c 51%, #090e36 100%";
$brand-login-screen-title: #fff;
$brand-login-input-color: #fff;
$brand-login-form-label: rgba(255, 255, 255, 0.54);
$brand-login-copyright-color: rgba(255,255,255,0.44);
$brand-login-form-border-bottom-color: rgba(255, 255, 255, 0.23);
$brand-login-button-color: #3248A7;
$brand-header-background-color: #152078;
$brand-header-font-color: rgba(255, 255, 255, 0.76);
$brand-header-taxonomy-btn-color: rgba(242, 242, 242, 0.2);
$border-header-search-border: none;
$brand-header-search-btn-color:rgba(255,255,255,0.1);
$brand-header-search-btn-placeholder-color:rgba(255,255,255,0.5);
$brand-header-taxonomy-btn-label-color: rgba(242, 242, 242, 0.76);
$brand-header-collection-pin-btn-color: rgba(242,242,242,0.20);
$brand-search-input-color:#fff;
$brand-header-all-btn-color: invert(70%);
$brand-expandable-menu-bg-color: #fff;
$brand-expandable-menu-label-color: #000;
$brand-expandable-menu-selected-bg-color: rgba(50,194,255,0.10);
$brand-sidebar-after-color: #152078;
$brand-about-color: #152078;
$brand-expandable-menu-border-color: #e8e8e8;
$brand-header-bookmark-pin-color: invert(76%);
$brand-language-bg-color: rgba(242, 242, 242, 0.08);
$brand-header-divider-line-color: inset 1px 0 0 0 rgba(255,255,255,0.24);
$brand-header-language-divider-line: 1px solid rgba(255,255,255,0.12);
$brand-icon-theme-color: #DFE2FF;
$brand-pin-bg-color: rgba(242, 242, 242, 0.2);
$brand-pin-border:none;
$brand-language-border:none;
$brand-admin-btn-filter: invert(0%);
$brand-header-search-cancel-btn-color: invert(100%);
$brand-material-btn-color: #3248A7;
$brand-expandable-icon-color: #000;
$brand-enable-disable-btn-bg-color: #152078;
$brand-icon-blue-color: #3248A7;

