$brand-login-banner: '../images/login-baner.jpg';
$brand-left-bg-color: "to bottom, #152078 0%, #131d6f 24%, #10185c 51%, #090e36 100%";
$brand-login-copyright-color: rgba(255,255,255,0.44);
$brand-login-button-color: #3248A7;


