$about-dialog-show-product-name: true;
$color-brand-secondary-background: #132d58;
$color-theme-accent: #424242 !default;
$image-brand-logo: '../images/Allianz.png';
$brand-logo-height: 36px;
$brand-logo-width: 36px;
$brand-logo-background-size: 36px;

$brand-about-logo-height: 158px;
$brand-about-logo-width: 160px;
$brand-about-logo-background-size: 160px;
$brand-about-logo-image: '../images/allianz-logo.png';

$brand-logo-login-screen: '../images/allianz-logo.png';

$brand-login-banner: '../images/login-baner.jpg';
$brand-left-bg-color: "#fff, #fff, #fff, #fff, #fff";
$brand-login-screen-title: #0E3178;
$brand-login-input-color: rgba(14, 49, 120, 0.84);
$brand-login-form-label: rgba(51,51,51,.54);
$brand-login-copyright-color: rgba(51,51,51,.4);
$brand-login-form-border-bottom-color: #4D82F7;
$brand-login-button-color: #3248A7;
$brand-header-background-color: #fff;
$brand-header-font-color: #333;
$brand-header-taxonomy-btn-color: #eee;
$border-header-search-border: 1px solid #ddd;
$brand-header-search-btn-color:#fff;
$brand-header-search-btn-placeholder-color:#333;
$brand-header-taxonomy-btn-label-color: #616367;
$brand-header-collection-pin-btn-color: #fff;
$brand-search-input-color:#000;
$brand-header-all-btn-color: invert(0%);
$brand-expandable-menu-bg-color: #424242;
$brand-expandable-menu-label-color: #fff;
$brand-expandable-menu-selected-bg-color: #616367;
$brand-expandable-menu-border-color: #424242;
$brand-header-bookmark-pin-color: invert(100%);
$brand-language-bg-color: #fff;
$brand-header-divider-line-color: inset 1px 0 0 0 #ddd;
$brand-header-language-divider-line: solid 1px #ddd;
$brand-sidebar-after-color: #fff;
$brand-icon-theme-color: #000;
$brand-pin-bg-color: unset;
$brand-pin-border:1px solid #ddd;
$brand-language-border: solid 1px #ddd;
$brand-about-color: #353535;
$brand-admin-btn-filter: invert(100%);
$brand-header-search-cancel-btn-color: invert(0%);
$brand-material-btn-color: rgb(97, 99, 103);
$brand-expandable-icon-color: #fff;
$brand-enable-disable-btn-bg-color: #eee;






