/.gradle
/bin/
/build/
/.settings
.classpath
.project
/logs/
/ExportedFiles/
/UploadSourceFiles
/src/main/resources/SQL-scripts/ORACLE12C/
/src/main/resources/SQL-scripts/PGSQL11/
/src/test/oracle.selector
/nbproject/
/rdbms-props/
/q
.gradle
PGSQL11
ORACLE12C
/rdbms-logs/
/src/test/data/Test-Data/csv/
/src/test/data/Test-Data/sql/
/src/test/data/Somfy-Data/csv/
/src/main/sql/.vs/
/src/main/sql/include/enum-constants.sql
/src/main/sql/1ac-Db-infrastructure-DDL.sql
